body{
    background-color: rosybrown;

}

.formy{
    display:inline;
}
.formy input{
    height:2rem;
    min-width:350px;
    max-width:500px;    
}

.formy textarea{
    height:4em;
    min-width:350px;
    max-width:500px;    
}


.cart{
    background-color: purple;
    color:wheat;
    border-radius:3%;
    width:80%;
    margin-right:auto;
    margin-left:auto;

}
.cart img{
    height:12em;
}

.book-title{
    background-color: rgb(112, 60, 8);
    text-align:center ;
    padding:0.5em;
}