body{
    background-color: rosybrown;

}
.st{
    top:0;
    position:sticky;
  
    
}
.formy{

    
    top:40px;
    position:sticky; 
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    border: solid 3px brown;
    padding :1em;
    border-radius: 3%;
    background-color: green;
 
 
    
}
.formy input{
   height:2em;
}

.formy input:focus{
    background-color: yellow;
}
.formy textarea{
    grid-column:1/3;
    grid-row: 2/4;
    height:4em; 
}

.formy textarea:focus{
    background-color: yellow;
}
.cart-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(520px , 1fr) );    
    grid-gap:2em;
    justify-content: center;

}
.cart{
    background-color: purple;
    color:wheat;
    border-radius:3%;
    align-items :center;
    

}
.cart img{
    height:12em;
}
.cart a {
    color:yellowgreen;
}

.book-title{
    background-color: rgb(112, 60, 8);
    text-align:center ;
    padding:0.5em;
}